{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <table class="table">
  <thead>
    <tr class="table-info">
      <th scope="col">Продукт</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>
      <th scope="col">Сумма</th>
        <th scope="col">Удаление</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products_in_basket %}
    <tr >
      <td>{{ product.product.title }}</td>
      <td>{{ product.count }}</td>
      <td>{{ product.product.price }}</td>
      <td>{% widthratio product.count 1 product.product.price %}</td>
        <td>

    <form class="text-center" action="{% url 'delete_order' product.pk %}" method="POST">
            {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <button type="submit" class="btn btn-secondary btn-block">Удалить</button>
            </div>
        </div>
    </form>

        </td>
    </tr>
{% endfor %}
  </tbody>
    <tfoot>
    <tr class="table-info" style="margin-left: 200px;">
      <th>Total</th>
      <td>${{ total }}</td>
    </tr>
  </tfoot>
</table>
    </div>
    <div>
     {% for f in order_form %}
    <form class="text-center" action="{% url 'create_order' %}" method="POST">
            {% csrf_token %}
            <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
            {{ f}}
            <br>

    {% endfor %}
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <button type="submit" class="btn btn-secondary btn-block">Оформить заказ</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}